* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  font-family: 'Permanent Marker', cursive;
  background-color: #110925;
}
.header h1 {
  color: rgb(177, 190, 216);
  font-size: 50px;
  margin: 0 5%;
  white-space: nowrap;
}
.header i {
  font-size: 50px;
  color: rgb(62, 93, 151);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-spacing: 10px;
}
.nav {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #110925;
}
.nav button {
  height: 75%;
  width: 200px;
  border-radius: 2%;
  margin: 0 10px;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  transition: 0.4s linear;
}
.nav button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
.main {
  height: 100vh;
  background-image: url(../img/notebook.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Domine', serif;
}
.main-notes {
  width: 520px;
  height: 100%;
  margin: 0 auto;
  font-size: 15px;
  padding-top: 40px;
}
.main-notes-list {
  list-style-image: url(../img/list-icon.png);
  padding-left: 4px;
}
.main-notes li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  text-align: justify;
}
.main-notes button {
   width: 50px;
   height: 23px;
   margin-left: 15px;
   border: 1px solid black;
   border-radius: 50%;
   background-color: #110925;
   color: white;
 }
 #delete {
   margin-left: 35px;
 }
 li {
   transition: opacity 1.5s ease-in;
 }
 li button {
   display: none;
 }
 li:hover button {
   display: inline-block;
 }
 .changeOpacity {
   opacity: 0;
 }







 


